AlignEscapedNewlines: Right
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BreakBeforeBraces: Linux
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 4
UseTab: Never
