.deps
.deps/
.dirstamp
.DS_Store
.gradle/
.idea/
.libs/
*.a
*.conf
*.exe
*.fbs.h
*.gcda
*.gcno
*.iml
*.la
*.lo
*.log
*.o
*.out
*.so
*.so.*
*~
/.vscode/
/aclocal.m4
/ar-lib
/autom4te.cache/
/bin
/build-aux/
/compile
/config.cache
/config.log
/config.status
/configure
/configure~
/depcomp
/include/config.h
/install-sh
/missing
/test-results/
/var
autom4te.cache/
build/
conf*
config.log
config.status
disco-*.tar.gz
include/config.h
include/config.h.in
local.properties
Makefile
Makefile
Makefile.in
Makefile.in
src/android-client/.cxx/
src/android-client/build/
src/media/media_db_scripts.c
src/server/disco_server
stamp-h*
stamp-h1
